@model ComplaintTicketSystem.Models.ComplaintCategoryModel

@{
    ViewData["Title"] = "Add Category";
}

<div class="card shadow">

    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">
            <i class="bi bi-plus-circle"></i>
            Add Category
        </h4>
    </div>

    <div class="card-body">

        <form asp-action="Category" method="post">

            @Html.AntiForgeryToken()

            <div class="mb-3">

                <label asp-for="CategoryName" class="form-label"></label>

                <input asp-for="CategoryName"
                       class="form-control"
                       placeholder="Enter Category Name" />

                <span asp-validation-for="CategoryName"
                      class="text-danger"></span>

            </div>

            <button type="submit"
                    class="btn btn-primary">

                <i class="bi bi-check-circle me-1"></i>

                Save

            </button>

            <a asp-action="Category"
               class="btn btn-secondary">

                Back

            </a>

        </form>

    </div>

</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}