@{
    ViewData["Title"] = "Complaint Page";
}
@Html.AntiForgeryToken()

<style>
    .ag-input-wrapper:before{
        display: contents;
    }

    .ag-header-group-cell {
    background-color: #2244cc66; /* bluest */
}
.ag-header-cell {
    background-color: #2244cc44; /* bluer */
}
.ag-floating-filter {
    background-color: #2244cc22; /* blue */
}

    .row-open {
        background-color: #2196F3 !important;
        color: white !important;
    }

    .row-progress {
        background-color: #FF9800 !important;
        color: white !important;
    }

    .row-resolved {
        background-color: #4CAF50 !important;
        color: white !important;
    }

    .row-rejected {
        background-color: #F44336 !important;
        color: white !important;
    }
</style>

<div class="d-flex justify-content-between align-items-center mb-2">
    <h2 class="complaint-title mb-0">Complaint List</h2>

    <button class="btn btn-success"
            onclick="exportCSV()">
        <i class="bi bi-file-earmark-excel"></i>
        Export CSV
    </button>
</div>

<input type="hidden" id="userFilter" value="@ViewBag.UserFilter" />
<input type="hidden" id="statusFilter" value="@ViewBag.StatusFilter" />
<input type="hidden" id="categoryFilter" value="@ViewBag.CategoryFilter" />

<div id="myGrid"
     class="ag-theme-alpine"
     style="height:calc(100vh - 254px);width:100%;">
</div>

@section Scripts
{
    <script src="~/js/index.js"></script>
}