@{
    ViewData["Title"] = "Complaint Page";
}

<style>
    .ag-header-group-cell {
    background-color: #2244cc66; /* bluest */
}
.ag-header-cell {
    background-color: #2244cc44; /* bluer */
}
.ag-floating-filter {
    background-color: #2244cc22; /* blue */
}
</style>

<h2 class="complaint-title">Complaint List</h2>

<input type="hidden" id="userFilter" value="@ViewBag.UserFilter" />
<input type="hidden" id="statusFilter" value="@ViewBag.StatusFilter" />
<input type="hidden" id="categoryFilter" value="@ViewBag.CategoryFilter" />

<div id="myGrid"
     class="ag-theme-alpine"
     style="height:calc(100vh - 254px);width:100%;">
</div>

@section Scripts
{
    <script src="~/js/index.js"></script>
}