@{
    ViewData["Title"] = "Complaint Page";  
}

<h2>Complaint List</h2>

<input type="hidden"
       id="statusFilter"
       value="@ViewBag.StatusFilter" />

<input type="hidden"
       id="categoryFilter"
       value="@ViewBag.CategoryFilter" />

<div id="myGrid"
     class="ag-theme-alpine"
     style="height:calc(100vh - 150px);width:100%;">
</div>

@section Scripts
{
    <script src="~/js/index.js"></script>
}
